


<div id="page-wrapper" class="{{$storage.theme}}">
		<div id="header-wrapper" class="{{$storage.theme}}">
					<div id="header">

						<!-- Logo -->
							<h1>
								<a href="#/" style="text-decoration:none" class="title {{$storage.theme}}"> Mturk Plus </a>
							</h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
								
									<li ><a href="#/feed"> <b>Live Feed </b> </a></li>
									<li style="padding-right: 30px"></li>
									<li ><a href="#/">Home</a></li>									
									<li ><a href="#/setting">Settings</a></li>
									<li class="current"><a href="#/about">About</a></li>										
								</ul>
							</nav>

					</div>
	</div>
	
	
	
	<div id="main-wrapper" class="{{$storage.theme}}">
					<section class="container">
						<div class="row fixMargin  {{$storage.theme}}">
							<div class="8u 12u(mobile)">
								<section>
									<header>
										<h2>Change Logs</h2>
									</header>
									<ul class="dates">
									
										<li>
											<span class="date">Jun <strong>9</strong></span>										
											<p> - Introducing Live Feed hits!</p>												
											<p> Please visit <a href="https://www.reddit.com/r/mturkplus" target="_blank">Reddit MturkPlus</a> for more information </p>
											
										</li>
										
										
										<li>
											<span class="date">Mar <strong>8</strong></span>										
											<p> - Added Super Mario Alert sounds</p>												
											<p>  Oh the nostalgia...</p>
											
										</li>
										<li>
											<span class="date">Feb <strong>3</strong></span>										
											<p> - Gifs, images, videos(youtube, twitch, dailymotion, etc...)</p>												
											<p>  twitter links now embeds in chat </p>
											
										</li>
										
										
										<li>
											<span class="date">Feb <strong>2</strong></span>										
											<p> - Emoticons in chat</p>	
											<p> - Here is a <a href="http://www.emoji-cheat-sheet.com/" target="_blank"> cheat sheet </a> for the all the emoticons</p>											
										</li>
										
										
										<li>
											<span class="date">Jan <strong>18</strong></span>										
											<p> - Completely new lay out! </p>	
											<p> - Mobile friendly, so now you can turk on the go</p>
											<p> - Light and Dark themes</p>
										</li>

										<li>
											<span class="date">Dec <strong>28</strong></span>										
											<p> - Send hits into chat box via the "Send to chat" </p>	
											<p>  button when adding comments</p>
										</li>
										
										
										<li>
											<span class="date">Dec <strong>27</strong></span>										
											<p> - Chatbox! is now live!</p>	
											<p> - Go to setting page and create your own account to grab your username.</p>
										</li>
										
										

										<li>
											<span class="date">Dec <strong>25</strong></span>
											<h3> Merry Christmas!</h3>
											<p> - Now you can upvote or downvote on hits! </p>	
											<p> -Click the pencil sign to add comments for each individual hits.</p>
										</li>

		
			
										<li>
											<span class="date">Dec <strong>18</strong></span>
											
											<p> - Go to settings now for more sounds and volume settings! </p>	
											<p> - If you have a sound you think would fit, feel free to send it to me and if I like it I may add it.</p>
											<p>	- Also if you notice the site has not been fetching any hits, please refresh the webpage, if the last updated on date is still an old date
													please contact me and I will fix it. </p>
										</li>
				
										<li>
											<span class="date">Nov <strong>16</strong> </span>
											<p> - I'm now paying my host to remove the pop up ads they added to my page, </p>
											<p> - For those of you that are still getting pop up ads, please clear your cache. There will still be ads on the right side which are mine, 
													feel free to click them as much as you like :) </p>
											<p> - It's appreciated if you guys turn off ad block for this site.</p>
																						
										</li>
										<li>
											<span class="date">Nov <strong>13</strong></span>
											
											<p> - Added sound when there is new hit </p>	
											<p> go to setting page to turn it on or off.</p>
										</li>
										<li>
											<span class="date">Sep <strong>14</strong></span>
											<p> -  New host isn't too good. Web scrapper would crash while FTPing randomly. This is why site has been randomly fetching nothing. </p>
											<p> - I'm afraid I have to go back to the other host.
												Ads are going to be annoying but you guys don't really need to be refreshing the page.
												So the popup is a one time thing </p>

										</li>
										<li>
											<span class="date">Sep <strong>6</strong></span>																						
											<p> - I noticed my host was adding popup ads on my site. Changed to another web host. </p>
											<p> - Added google ads </p>
					
										</li>
										<li>
											<span class="date">Jul <strong>27</strong></span>
											
											<p> - Added ability to delete individual hits </p>
											<P> - Added Preview and Accept links </p>
											<P> - Now scraps mturkforum and mturkgrind  </p>		
											
										</li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)" style="padding-left: 30px">
								<section>
									<header>
										<h2>How does this work?</h2>
									</header>
									<p>
										It's easy! stay on the home page and let the hits come to you.
									</p>
									<p> You will be notify by a sound alert which you can configure in setting page</p>									
									<p> You can click the 'X' button to delete individual hit to manage your list, or just click the 'Clear All' button
										on the right to delete it all </p>
									<p> Use the upvote/downvote to vote if you liked the hit or hated it <p>										
									<p> If you want to post a time on a hit, you can do it by clicking the pencil image.
										If the hit was really awesome and fast and you think others should do it,
										send the comment to the chat box!</p>
									<p> And lastly create your own user account and join in on the chat! </p>
									
									<i><p> Hits are sourced from Mturk Form, Mturk Grind, Mturk Crowd, Turker Nation, Mturk List, Reddit's HWTF </p></i>

									<footer> 
										<h4>
											This started as a project and became really useful for me.
											As an active user at the forum I would like to thank all the contributors over at <a href="http://mturkforum.com/">Mturk Forum</a>
											Come over and visit us for great discussions, and sometimes great drama.
										</h4>
										<h4>
											<p>To support this site all I ask is to disable your ad block for this site and maybe click a few ads if you want. Thanks!</p>										
											
										</h4>
									</footer>
								</section>
							</div>
						</div>
						<div class="row fixMargin  {{$storage.theme}}">
								
							<div class="12u 12u(mobile)">
								<section class="cen">
									<header>
										<h2>Contact me</h2>
									</header>
									<ul class="social">
										<li><a style="text-decoration:none" class="icon fa-envelope" target="_blank" href="mailto:mturkplus@gmail.com"><span class="label">Email</span></a></li>									
										<li><a style="text-decoration:none" class="icon fa-facebook" target="_blank" href="https://www.facebook.com/MturkPlus-531718860334820/"><span class="label">Facebook</span></a></li>
										<li><a style="text-decoration:none" class="icon fa-twitter" target="_blank" href="https://twitter.com/MturkPlus"><span class="label">Twitter</span></a></li>
										<li><a style="text-decoration:none" class="icon fa-google-plus" target="_blank" href="https://plus.google.com/111010262582027452438/"><span class="label">Google+</span></a></li>
									</ul>
									<ul>
									
								</section>
							</div>
						</div>
						
					
					
					</section>
				</div>
				</div>

  


  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65316499-1', 'auto');
  ga('send', 'pageview');

</script>
