
<html>



	<head>
		<title>Mturk Plus</title>		
	</head>
	
	<body >
	
		
		<div id="page-wrapper" class="{{$storage.theme}}">

				<div id="header-wrapper" class="{{$storage.theme}}">
					<div id="header">

							<h1>
								<a href="#/" style="text-decoration:none" class="title {{$storage.theme}}" > Mturk Plus </a>
							</h1>

							<nav id="nav">
								<ul>
									<li ><a href="#/feed"> <b>Live Feed </b> </a></li>
									<li style="padding-right: 30px"></li>
									<li class="current"><a href="#/">Home</a></li>												
									<li ><a href="#/setting">setting</a></li>	
									<li ><a href="#/about">About</a></li>	
												
								</ul>
							</nav>					
					</div>
				</div>
				
			
				<div id="main-wrapper" class="{{$storage.theme}}">

					<div >
						<button class="clearAll" ng-click ="reset()">Clear All</button>													
					</div>
					
					<div class="lastUpdate {{$storage.theme}}">
						Last updated on {{date}}
					</div>
					
					
					<div class="container">
						<div class="row  {{$storage.theme}} fixMarginNoColor">
												
							<div class="3u 12u(mobile)">

								
									<section class="box container {{$storage.theme}}" >
								
										<div class="box container ChatPost {{$storage.theme}}" scroll-bot="displayChat">
											<ul >						
												<li ng-repeat="a in displayChat">
													<section class="hitBox {{$storage.theme}}">		
														<div >
															{{a.newdate}}												
														</div>	
														<div ng-bind-html="a.userHtml"> </div>	
														<div ng-bind-html="a.htmlMsg"> </div>	
													 <!--	<div ng-bind-html="a.Msg | embed"> </div>	-->
														<ng-embed 
														 embed-data="a.Msg"														
														 embed-options="options"														
														 ></ng-embed>	
													
													</section>
												</li>
											</ul>
						
										</div>
										
										<footer>
											<div class="chatBottom" >
												
												<input ng-model="txtchat" ng-keydown="addMessage($event)" type="text" id="messageInput"  placeholder="Type a message..." class="chatInput" > 
												<div class="chatButtonContainer">
												<button class="btn btn-info" type="button" ng-click="send()">Send</button>
												<button class="btn btn-warning" style="float:right" type="button" ng-click="clearChat()">Clear Chat</button>
												</div>
											</div>	
										</footer>
									</section>
										
								

							</div>
							
							<div class="9u 12u(mobile) important(mobile)">
									<article class="box post {{$storage.theme}}">
											
										<ul>						

												<div class="hitContainer {{$storage.theme}} accordHeader"> 
													 <uib-accordion class="accordHeader {{$storage.theme}}">
														  <uib-accordion-group is-open="{true:true, false:false}[$index==$storage.collapseIndex]"																			
																		ng-repeat="x in $storage.fullData "
																		ng-click="saveCollapseIndex($index)">
																		
																	  <uib-accordion-heading >
																		
																		<b>
																			<font color="green">{{x.reward }}</font>
																			<span style="margin-left:5px"><font color="blue">{{x.time }}</font></span>
																			<span style="margin-left:5px">{{x.requester }} -</span>
																			<span style="margin-left:10px">{{ trimTitle(x.title) }}</span>
																			
																		<div class="pull-right">
																			<span class="upVoteHeader fa fa-arrow-up  fa-lg {{$storage.theme}}" ng-click="updateHit(this, x.link, true)" ng-disabled="buttonDisable" ng-class="{true:'upVoteHeader click', false:''}[buttonDisable==true]" >  </span>
																			<b><span  style="margin-left:5px; margin-right:5px" ng-class="{'upClick': x.likes>=1, downClick: x.likes < 0 , }" > {{x.likes}}</span>	 </b>
																			<span class="downVoteHeader  fa fa-arrow-down fa-lg {{$storage.theme}}" ng-click="updateHit(this, x.link, false)" ng-disabled="buttonDisable==false"   ng-class="{true:'downVoteHeader click', false:''}[buttonDisable==false]"></span>																
																			<span style="margin-left:15px" class="fa fa-pencil-square fa-lg" ng-click="open(x.Post, x.link)" ></span>
																			<span ng-click="openURL(x.link)" class="pandaHeader fa fa-share fa-lg"  ></span>
																			<a style="margin-left:15px" class="fa fa-times fa-lg" ng-click="delete($index)"></a>
																		</div>
																		
																		</b>
																		
																	  </uib-accordion-heading>		
																  
																	<div class="col-lg-11">												
																		<div class = "hitPost" ng-bind-html="x.newPost" ></div>	
																	</div>																	
														  </uib-accordion-group>											 
													</uib-accordion>
													
													
												</div>
											</li>
										</ul>
										
										
									</article>

							</div>
						</div>
					</div>
				</div>


		</div>
			
	</body>
	 <script>
	 
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65316499-1', 'auto');
  ga('send', 'pageview');

</script>
	
</html>