
 <div class="content"> 
     <nav class="bar-standard bar-header-secondary">
	 <div class="tab-item2" > Last updated on {{date}}</div>
  </nav>

   <nav class="bar-tab">
    <ul class="tab-inner">
	<li class="tab-item">
	 <button class="button-negative" ng-click ="reset()">Clear All</button>
	 </li>
      <li class="tab-item">
        <a href="#/about">
          <img class="tab-icon" src="img/icon-profile.png">
          <div class="tab-label">About Me</div>
        </a>
      </li>
    </ul>
  </nav>
  
  <br><br><br><br><br><br>
  
    <ul class="list">
		<li class="list-divider" ng-repeat="x in $storage.fullData">	
			<div class ="blah">
				<div ng-bind-html-unsafe="x.Post" ></div>
				<button class ="button-main" ng-click="delete($index)">X</button>
				<button class ="button-positive2 MG" ng-click="delete($index)">PandA</button>
			</div>
		</li>
	</ul>
		 
	<br><br>


</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65316499-1', 'auto');
  ga('send', 'pageview');

</script>