
<html>



	<head>
		<title>Mturk Plus</title>		
	</head>
	<body>
	

		
			
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">

						<!-- Logo -->
							<h1>
								<font color='lightgray'> 
									<a href="#/" style="text-decoration:none"> Mturk Plus </a>
								</font>
							</h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="#/">Home</a></li>										
									<li ><a href="#/setting">setting</a></li>	
									<li ><a href="#/about">About</a></li>	
												
								</ul>
							</nav>					
					</div>
				</div>
				
				
			<!-- Main -->
				<div id="main-wrapper">
					<div >
						<button class="clearAll" ng-click ="reset()">Clear All</button>													
					</div>
					
					<div class="lastUpdate">
						Last updated on {{date}}
					</div>
					
					
					<div class="container">
						<div class="row">
												
							<div class="3u 12u(mobile)">
								<!-- Sidebar -->
								
									<section class="box container">
								
										<div class="box container ChatPost">
											<ul >						
												<li ng-repeat="a in displayChat">
													<section class="hitBox">		
														
														<div >
															{{a.newdate}}															
														</div>	
														
														<div ng-bind-html="renderHtmlChat(a.user,a.msg)"> </div>
													</section>
												</li>
											</ul>
						
										</div>
										
										<footer>
											<div class="chatBottom" >
												
												<input ng-model="txtchat" ng-keydown="addMessage($event)" type="text" id="messageInput"  placeholder="Type a message..." class="chatInput" > 
												<div class="chatButtonContainer">
												<button class="btn btn-info" type="button" ng-click="send()">Send</button>
												<button class="btn btn-warning" type="button" ng-click="clearChat()">Clear Chat</button>
												</div>
											</div>	
										</footer>
									</section>
										
								

							</div>
							
							<div class="9u 12u(mobile) important(mobile)">

								<!-- Content -->
									<article class="box post">
											
										<ul>						
											<li ng-repeat="x in $storage.fullData">
											
																	
												<div class="hitContainer"> 
												
												
													<div class="col-lg-11">												
														<div class = "hitPost" ng-bind-html="renderHtml(x.Post)" ></div>	

													</div>
													
													<div class="col-lg-1"> 
														
														<div class="hitDetail">
														
															
															<div class="col-md-12">
																<button  class="col-md-12 X" ng-click="delete($index)" > x </button>
																
																<span class="upVote col-sm-12 fa fa-thumbs-o-up  fa-3x " ng-click="updateHit(this, x.link, true)" ng-disabled="buttonDisable" ng-class="{true:'upVote click', false:''}[buttonDisable==true]" >  </span>
																<span class=" col-sm-12 " ng-class="{'upClick': x.likes>=1, downClick: x.likes < 0 , }" > {{x.likes}}</span>
																<span class="downVote col-sm-12  fa fa-thumbs-o-down fa-3x" ng-click="updateHit(this, x.link, false)" ng-disabled="buttonDisable==false"   ng-class="{true:'downVote click', false:''}[buttonDisable==false]"></span>																
															</div>
														
														
															
															<div class="col-md-12 pandaContainer">
															
																<span ng-click="open(x.Post, x.link)" class="fa fa-pencil-square fa-4x pencil"></span>	
																<a href="{{x.link}}" target="_blank" >
																	<button class="col-md-12 panda">PandA</button>
																</a>
															</div>
																										
														</div>
														
														
													</div>	
													
												</div>
											</li>
										</ul>
										
										
									</article>

							</div>
						</div>
					</div>
				</div>

				
				
			<!-- Footer -->
			
			<!--
				
				-->
		</div>
			
	</body>
	 <script>
	 
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65316499-1', 'auto');
  ga('send', 'pageview');

</script>
	
</html>