
<html>



	<head>
		<title>Mturk Plus</title>		
	</head>
	<body>
	
		<div class="fixMargin">
		<div id="page-wrapper" class="{{$storage.theme}}">

				<div id="header-wrapper" class="{{$storage.theme}}">
					<div id="header">

							<h1>
								<a href="#/" style="text-decoration:none" class="title {{$storage.theme}}" > Mturk Plus </a>
							</h1>

							<nav id="nav">
								<ul>
									<li class="current"><a href="#/feed" ><b>Live Feed </b> </a></li>
									<li style="padding-right: 30px"></li>
									<li><a href="#/">Home</a></li>										
									<li ><a href="#/setting">setting</a></li>	
									<li ><a href="#/about">About</a></li>	
												
								</ul>
							</nav>					
					</div>
				</div>
				
			
				<div id="main-wrapper" class="{{$storage.theme}}">

					<div >
						<button class="clearAll" ng-click ="reset()">Reload Hits</button>													
					</div>	
					 
									
					<div class="orderDD">
							<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{$storage.orderBy}}
								<span class="caret"></span>
							</button>
							
							<ul class="dropdown-menu" aria-labelledby="dropdown">
								<li><a ng-click="setOrderBy('',false)">None</a> </li>
								<li><a ng-click="setOrderBy('likes',true)">likes</a> </li>
								<li><a ng-click="setOrderBy('reward',true)">Reward</a> </li>
								<li><a ng-click="setOrderBy('requester',false)">Requester</a> </li>
								<li><a ng-click="setOrderBy('title',false)">Title</a> </li>
							</ul>
					</div>
						  
					
					<div class="lastUpdate {{$storage.theme}} ">
						 Last updated on {{date}} 
					</div>
					
					<span  class="lastUpdate numberOfHits {{$storage.theme}}"> Hits Available : {{$storage.newNamesLive.records.length}}  </span>
					
					
					
										
					
					
					<div class="container">
						<div class="row  {{$storage.theme}} fixMarginNoColor">
												
							<div class="3u 12u(mobile)">
								
									<section class="box container {{$storage.theme}}" >
								
										<div class="box container ChatPost {{$storage.theme}}" scroll-bot="displayChat">
											<ul >						
												<li ng-repeat="a in displayChat">
													<section class="hitBox {{$storage.theme}}">			
														<div >
															{{a.newdate}}												
														</div>	
														<div ng-bind-html="a.userHtml"> </div>	
														<div ng-bind-html="a.htmlMsg"> </div>	
													 <!--	<div ng-bind-html="a.Msg | embed"> </div>	-->
														<ng-embed 
														 embed-data="a.Msg"														
														 embed-options="options"														
														 ></ng-embed>	
													
													</section>
												</li>
											</ul>
						
										</div>
										
										<footer>
											<div class="chatBottom" >
												
												<input ng-model="txtchat" ng-keydown="addMessage($event)" type="text" id="messageInput"  placeholder="Type a message..." class="chatInput" > 
												<div class="chatButtonContainer">
												<button class="btn btn-info" type="button" ng-click="send()">Send</button>
												<button class="btn btn-warning" style="float:right" type="button" ng-click="clearChat()">Clear Chat</button>
												</div>
											</div>	
										</footer>
									</section>
										
								
							</div>
							
							<div class="9u 12u(mobile) important(mobile)">
									<article class="box post {{$storage.theme}}">
						
										<ul>									
												<div class="hitContainer {{$storage.theme}} accordHeader"> 														
													 <uib-accordion class="accordHeader {{$storage.theme}}">
														  <uib-accordion-group is-open="{true:true, false:false}[$index==$storage.collapseIndex]"																			
																		ng-repeat="x in $storage.newNamesLive.records | orderBy : $storage.orderBy "  
																		ng-click="saveCollapseIndex($index)">
																		
																	  <uib-accordion-heading >
																		
																		<b>											
																			
																			<font color="red"><i ng-show="x.isMaster" style="margin-right:8px" class="fa fa-maxcdn "></i></font>
																			<font color="green">{{x.reward }}</font>
																			<span style="margin-left:5px"><font color="blue">{{x.time }}</font></span>
																			<span style="margin-left:5px"> <font color="#8C001A"> {{ trimReq(x.requester) }} - </font></span>
																			<span style="margin-left:10px">{{ trimTitle(x.title) }}</span>
																			
																			
																		
																		
																		<div class="pull-right">
																			<span class="upVoteHeader fa fa-arrow-up  fa-lg {{$storage.theme}}" ng-click="updateHit(this, x.link, true)" ng-disabled="buttonDisable" ng-class="{true:'upVoteHeader click', false:''}[buttonDisable==true]" >  </span>
																			<b><span  style="margin-left:5px; margin-right:5px" ng-class="{'upClick': x.likes>=1, downClick: x.likes < 0 , }" > {{x.likes}}</span>	 </b>
																			<span class="downVoteHeader  fa fa-arrow-down fa-lg {{$storage.theme}}" ng-click="updateHit(this, x.link, false)" ng-disabled="buttonDisable==false"   ng-class="{true:'downVoteHeader click', false:''}[buttonDisable==false]"></span>																
																			<font color="#00802b"><span style="margin-left:15px" class="fa fa-pencil-square fa-lg" ng-click="open(x.Post, x.link)" ></span></font>																			
																			<a ng-click="openURL(x.link, $index)" class="pandaHeader fa fa-share fa-lg"  ></a>
																			<a style="margin-left:15px" class="fa fa-times fa-lg" ng-click="deleteHit($index, x.link)"></a>
																		</div>
																		
																		</b>
																		
																	  </uib-accordion-heading>		
																  
																	<div class="col-lg-11">												
																		<div class = "hitPost" ng-bind-html="x.newPost" ></div>	

																	</div>
																	

														  </uib-accordion-group>											 
													</uib-accordion>
												
													
												</div>
											
											
										</ul>
										
										
									</article>

							</div>
						</div>
					</div>
				</div>


		</div>
			
	</div> 		
	</body>
	 <script>
	 
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65316499-1', 'auto');
  ga('send', 'pageview');

</script>
	
</html>